{% extends "base.html" %}

{% block title %}Artists - Flask App{% endblock %}

{% block content %}


<form action="/artists" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <button type="submit">Add Artist</button>
</form>

<h1>Artists</h1>

<ul>
    {% for artist in artists %}
    <li>{{ artist.name }} <a href="/artists/{{ artist.id }}">Edit</a> | <form action="/artists/{{ artist.id }}/delete" method="post"><button type="submit">Delete</button></form></li>
    {% endfor %}
</ul>

{% endblock %}
