{% extends "base.html" %}

{% block title %}Home - Music Publisher{% endblock %}

{% block navbar %}
    <h2 class="mb-4">Time to publish some music!</h2>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/artists">Artists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/songs">Songs</a>
        </li>
    </ul>
{% endblock %}
