{% extends "base.html" %}

{% block title %}Songs{% endblock %}

{% block content %}

<form action="/songs" method="post" class="my-4">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label for="artist_id" class="form-label">Artist:</label>
        <select id="artist_id" name="artist_id" class="form-select">
            {% for artist in artists %}
            <option value="{{ artist._id }}">{{ artist.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="album_id" class="form-label">Album:</label>
        <select id="album_id" name="album_id" class="form-select">
            {% for album in albums %}
            <option value="{{ album._id }}">{{ album.title }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Song</button>
</form>

<h1>Songs</h1>

<ul class="list-group">
    {% for song in songs %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ song.title }} by {{ db.artists.find_one({'_id': song.artist_id}).name }}
        {% if song.album_id %}
            <span class="badge bg-secondary">Album: {{ db.albums.find_one({'_id': song.album_id}).title }}</span>
        {% endif %}
        <div>
            <a href="/songs/{{ song._id }}" class="btn btn-sm btn-secondary me-2">Edit</a>
            <form style="display: inline;" action="/songs/{{ song._id }}/delete" method="post">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
