{% extends "base.html" %}

{% block title %}Songs - Flask App{% endblock %}

{% block content %}

<form action="/songs" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <label for="artist_id">Artist:</label>
    <select id="artist_id" name="artist_id">
        {% for artist in artists %}
        <option value="{{ artist.id }}">{{ artist.name }}</option>
        {% endfor %}
    </select>

    <label for="album_id">Album:</label>
    <select id="album_id" name="album_id">
        {% for album in albums %}
        <option value="{{ album.id }}">{{ album.title }}</option>
        {% endfor %}
    </select>

    <button type="submit">Add Song</button>
</form>


<h1>Songs</h1>

<ul>
    {% for song in songs %}
    <li>{{ song.title }} by {{ song.artist.name }} {% if song.album %} (Album: {{ song.album.title }}) {% endif %} <a href="/songs/{{ song.id }}">Edit</a> | <form style="display: inline;" action="/songs/{{ song.id }}/delete" method="post"><button type="submit">Delete</button></form></li>
    {% endfor %}
</ul>


{% endblock %}
